{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
  <h1>Trinity, Demi and Hanisha</h1> 
  <ul>
  {% for post in object_list %} 
  <li><a href="{% url 'article_detail' post.pk %}"></a></li>
 <li>{{ post.title }} -{{ post.author.first_name }}
    {{ post.author.last_name }}<br/>
    {{post.body}}</li>
    {% endfor %}
</ul>
{% endblock %}
</body>
</html>